<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat Submit</title>
</head>
<body>
    <h3> write a new chat </h3>
    <form method="POST" action="/chats">
    <input type="text" name="from" placeholder=" who are you "><br><br>
    <textarea name="msg" placeholder="write your message"></textarea><br><br>
    <input type="text" name="to" placeholder="write your reciver name"><br><br>
    <button> Submit</button>

    </form>
    
</body>
</html>